.bg-order-pending{
    background-color: #fef9c3 !important;
}
.bg-order-complete{
    background-color: #08b914 !important;
    /* opacity: 0.7; */
}
.bg-order-reject{
    background-color: red !important;
}
.bg-order-superesed{
    background-color: #d17326 !important;
}