.bg-order-pending{
    background-color: #02c5e7 !important;
}
.bg-order-complete{
    background-color: #08b914 !important;
    /* opacity: 0.7; */
}
.bg-order-reject{
    background-color: red !important;
}
.bg-order-superesed{
    background-color: #d17326 !important;
}
/*status == 5*/
.bg-order-canceled{
    background-color: #ff692d !important;
}