:root{
    --bg-color-2:rgb(240, 248, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/***** footer*****/ 

.footer{
    background-color: var(--bg-color-2);
}

.social-group a {
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
  }
  
  .social-icon,
  .social-text {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
 
  .social-group:hover .social-icon,
  .social-group:hover .social-text {
    transform: scale(1.2);
  }
  

  .social-group:hover .fa-facebook {
    color: #0866ff;
  }
  
  .social-group:hover .fa-instagram {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
  .social-group:hover .fa-pinterest {
    color: #E60023;
  }
  

  .social-group:hover .social-text {
    color: #000 !important;
  }

  .footer-text:hover {
    color: #000 !important;
  }
  
 /***** End footer *****/

