<div class="col-md-4 mb-3">
    <div class="card p-3 h-100 shadow border-1 border-light rounded-4  hidden-animation">
        <div class="card-body">
            <h5 class="card-title">Product Availability</h5>
            <p class="inquiry-date">April 23, 2025</p>
            <p class="card-text">Inquiry about the availability of the latest smartphone model...</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inquiryModal1">View Inquiry</button>
        </div>
    </div>
</div>


