<tr class="order-item">
    <!-- <td>#<span class="order-id"></span></td> -->
    <td class="order-product-name overflow-x-hidden">Product Name</td>
    <td class="order-product-id overflow-x-hidden">Product ID</td>
    <td class="order-date">Date</td>
    <td class="order-product-amount text-center">Amount</td>
    <td class="order-status text-center"></td>
    <td class="order-actions">
        <button class="btn  btn-danger btn-sm reject-order-btn small">
            <span class="small"><i class="fa fa-trash small"></i></span>
            <span class="small">Reject Order</span>
        </button>
    </td>
</tr>