<tr class="text-muted h5 table-break text-center"   >
    <td colspan="4" class="text-center order-id-td ">
        <span>OrderId #</span><span class="order-id">dag</span>
    </td>
    <td class="text-center btn-td">
        <button class="btn  btn-success btn-sm order-accept-btn  small" title="Accept">
            <span class="small"><i class="fa fa-handshake text small "></i></span>
            <!-- <span class="small">Reject</span> -->
        </button>
    </td>
    <td class="text-center btn-td">
        <button class="btn  btn-danger  btn-sm order-reject-btn  small" title="Reject All">
            <span class="small"><i class="bi-x text small "></i></span>
            <!-- <span class="small">Reject</span> -->
        </button>
    </td>
</tr>